*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #f5f5dc;
} 

div.row{
    margin-right: 0px;
    margin-left: 0px;
}

div.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}

#btnTop 
{
    background-color: #0000f0;
    position: fixed;
    bottom:20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: none;
    justify-content: center;
    align-items: center;
}

#btnTop svg
{
    width: 30px;
    height: 30px;
    color: white;
}

.whatsapp{
    position:fixed;
    width:60px;
    height:60px;
    bottom:90px;
    right:20px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    display: none;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.my-float{
    margin-top:16px;
}      

#footer{
    background: navy none repeat scroll 0 0;
    clear: both;
    color: white;
    border-bottom-color: white;
}

#list_footer li a{
    text-decoration: none;
}

#footer_copy{
    background: navy none repeat scroll 0 0;
    clear: both;
    color: white;
    border-top-color: white;
}

footer{
    padding: 0px !important;
}

#btn_intro #col_btn_intro{
    top: 20px;
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
    width: 100%;
    height: 125px;
    background-color: navy;
}

#btn_intro #col_btn_intro:hover{
    background-color: white;
}

#col_btn_intro .fas{
    font-size: 50px;
    text-decoration: none;
    color: white;
    text-align: center;
}

#col_btn_intro .fas:hover{
    color: navy;
}

#icon_1{
    margin-top: 25px;
}

#col_btn_intro a{
    text-decoration: none;
    color: white;
}

#col_btn_intro a:hover{
    text-decoration: none;
    color: navy;
}

#photo_footer{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

#col1collapse{
    text-align: center;
    color: white;
}

.div_img img{
    align-items: center;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
}

.user a{
    text-decoration: none;
    padding: 5px;
    font-size: 12px;
    color: white;
}

.llista{
    text-align: center;
}

.llista ul li {
    list-style: none;
}


.llista ul li a{
    width: 100%;
    line-height: 30px;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
}

.llista ul li:hover{
    text-decoration: none;
    background-color: #0000f0;
}

#btn_intro #col_btn_intro{
    top: 20px;
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
    width: 100%;
    height: 125px;
    background-color: navy;
}

#btn_intro #col_btn_intro:hover{
    background-color: white;
}

#col_btn_intro .fas{
    font-size: 50px;
    text-decoration: none;
    color: white;
    text-align: center;
}

#col_btn_intro .fas:hover{
    color: navy;
}

#icon_1{
    margin-top: 25px;
}

#col_btn_intro a{
    text-decoration: none;
    color: white;
}

#col_btn_intro a:hover{
    text-decoration: none;
    color: navy;
}


.div-spacer 
{
    display: block;
    clear: both;
    height: 30px;
}

.titol_destacats
{
    border-bottom: 1px solid rgb(180, 180, 180); 
    line-height: 0.1em;
    margin: 0 auto;
}
.titol_destacats span
{
    padding: 0 10px;
    background-color: #f5f5dc;
    color: navy;
    font-family: roboto;
}

@media screen and (max-width: 768px)
{
    .titol_destacats span
    {
        line-height: 1.5!important;
        padding: 0!important;
        background-color: inherit;
    }
}

@media all and (min-width: 576px){
    .llista ul li{
        margin-left: 60px;
        margin-right: 60px;
    }
}


@media all and (max-width: 576px){
    #btn_intro #col_btn_intro{
    top: 20px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    width: 100%;
    height: 125px;
    background-color: navy;
}
}

@media all and (max-width: 460px){
    .llista ul li{
        margin-left: 80px;
    }
    .div_img img{
        width: 85px;
        height: 85px;
    }

}

#title_destacats{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: navy;
}

#block_info{
    padding: 15px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    background-color: #ffffffc4;
    transition: transform .2s;
}

#block_info:hover {
    transform: scale(1.025);
}

#block_info a {
    text-decoration: none;
    color: black;
}

#img_info_destacats{
    width: 100%;
    height: 300px;
    border-radius: 3px;
}

a{
    text-decoration: none !important;
}

/*LOGIN*/

.recuadre {
    background-color: #ffffffc4;
    margin-top:4%;
    margin-bottom:4%;
    margin-left: auto;
    margin-right: auto;
}

#titollog{
    padding: 5%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.columna{
    height: 425px;
}

.btn-group{
    margin-left: auto;
    margin-right: auto;
}

.btn{
    background-color: #61D4EE;
    border: 3px;
}

.btn_log{
    color: white;
    background-color: navy;
    border: 3px;
    padding: 10px;
}

.btn:hover{
    background-color: #2CA1BC;
    color: white !important;
}

.btn_log:hover{
    background-color: #0000f0;
    color: white !important;
}


.formulari_registre{
    display: none;
}

.buit_registre{
    color: red;
    font-size: 12px;
    font-family: sans-serif;
}

#titol{
    margin-left: 20px;
}


#botocentrat{
    text-align: center;
    }

#titolregistre{
    padding: 5%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    }
    #titollog{
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }
    #subtitollog{
        top: -35px;
        text-align: center;
        margin: auto;
    }

#form_registre{
    text-align: center;
    margin: auto;
    text-align: center;
}
.recuadre{
    padding: 25px;
    background-color: #ffffffc4;
    margin-top:4%;
    margin-bottom:4%;
    }
.recuadre_allotjament{
    padding: 25px;
    background-color: #ffffffc4;
    margin-top:4%;
    margin-bottom:4%;
    }
    
    @media all and (max-width: 768px){
        #input_registre{
            text-align: center;
        }
        #subtitollog{
            top: -20px;
        }
}

/*MONUMENTS.PHP*/

#enllaç_img{
    width: 250px;
    height: 310px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
#imatges_turistiques{
    border: 5px solid #ffffffc4;
    height: 250px;
    width: 250px;
}

#text_img_turistiques{
    border: 5px solid #ffffffc4;
    width: 250px;
    height: 60px;
    background-color: #ffffffc4;
    text-align: center;
}

#text_img_turistiques a{
    text-decoration: none;
    color: navy;
}

#visites{
    display: flex;
    flex-wrap: wrap;
}


.shopping-cart,
.wishlist-table,
.order-table {
    margin-bottom: 20px
}

.shopping-cart .table,
.wishlist-table .table,
.order-table .table {
    margin-bottom: 0
}

.shopping-cart .btn,
.wishlist-table .btn,
.order-table .btn {
    margin: 0
}

.shopping-cart>table>thead>tr>th,
.shopping-cart>table>thead>tr>td,
.shopping-cart>table>tbody>tr>th,
.shopping-cart>table>tbody>tr>td,
.wishlist-table>table>thead>tr>th,
.wishlist-table>table>thead>tr>td,
.wishlist-table>table>tbody>tr>th,
.wishlist-table>table>tbody>tr>td,
.order-table>table>thead>tr>th,
.order-table>table>thead>tr>td,
.order-table>table>tbody>tr>th,
.order-table>table>tbody>tr>td {
    vertical-align: middle !important
}

.shopping-cart>table thead th,
.wishlist-table>table thead th,
.order-table>table thead th {
    padding-top: 17px;
    padding-bottom: 17px;
    border-width: 1px
}

.shopping-cart .remove-from-cart,
.wishlist-table .remove-from-cart,
.order-table .remove-from-cart {
    display: inline-block;
    color: #ff5252;
    font-size: 18px;
    line-height: 1;
    text-decoration: none
}

.shopping-cart .count-input,
.wishlist-table .count-input,
.order-table .count-input {
    display: inline-block;
    width: 100%;
    width: 86px
}

.shopping-cart .product-item,
.wishlist-table .product-item,
.order-table .product-item {
    display: table;
    width: 100%;
    min-width: 150px;
    margin-top: 5px;
    margin-bottom: 3px
}

.shopping-cart .product-item .product-thumb,
.shopping-cart .product-item .product-info,
.wishlist-table .product-item .product-thumb,
.wishlist-table .product-item .product-info,
.order-table .product-item .product-thumb,
.order-table .product-item .product-info {
    display: table-cell;
    vertical-align: top
}

.shopping-cart .product-item .product-thumb,
.wishlist-table .product-item .product-thumb,
.order-table .product-item .product-thumb {
    width: 130px;
    padding-right: 20px
}

.shopping-cart .product-item .product-thumb>img,
.wishlist-table .product-item .product-thumb>img,
.order-table .product-item .product-thumb>img {
    display: block;
    width: 100%
}

@media screen and (max-width: 860px) {
    .shopping-cart .product-item .product-thumb,
    .wishlist-table .product-item .product-thumb,
    .order-table .product-item .product-thumb {
        display: none
    }
}

.shopping-cart .product-item .product-info span,
.wishlist-table .product-item .product-info span,
.order-table .product-item .product-info span {
    display: block;
    font-size: 13px
}

.shopping-cart .product-item .product-info span>em,
.wishlist-table .product-item .product-info span>em,
.order-table .product-item .product-info span>em {
    font-weight: 500;
    font-style: normal
}

.shopping-cart .product-item .product-title,
.wishlist-table .product-item .product-title,
.order-table .product-item .product-title {
    margin-bottom: 6px;
    padding-top: 5px;
    font-size: 16px;
    font-weight: 500
}

.shopping-cart .product-item .product-title>a,
.wishlist-table .product-item .product-title>a,
.order-table .product-item .product-title>a {
    transition: color .3s;
    color: #374250;
    line-height: 1.5;
    text-decoration: none
}

.shopping-cart .product-item .product-title>a:hover,
.wishlist-table .product-item .product-title>a:hover,
.order-table .product-item .product-title>a:hover {
    color: #0da9ef
}

.shopping-cart .product-item .product-title small,
.wishlist-table .product-item .product-title small,
.order-table .product-item .product-title small {
    display: inline;
    margin-left: 6px;
    font-weight: 500
}

.wishlist-table .product-item .product-thumb {
    display: table-cell !important
}

@media screen and (max-width: 576px) {
    .wishlist-table .product-item .product-thumb {
        display: none !important
    }
}

.shopping-cart-footer {
    display: table;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #e1e7ec
}

.shopping-cart-footer>.column {
    display: table-cell;
    padding: 5px 0;
    vertical-align: middle
}

.shopping-cart-footer>.column:last-child {
    text-align: right
}

.shopping-cart-footer>.column:last-child .btn {
    margin-right: 0;
    margin-left: 15px
}

@media (max-width: 768px) {
    .shopping-cart-footer>.column {
        display: block;
        width: 100%
    }
    .shopping-cart-footer>.column:last-child {
        text-align: center
    }
    .shopping-cart-footer>.column .btn {
        width: 100%;
        margin: 12px 0 !important
    }
}