*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #f5f5dc;
} 

div.row{
    margin-right: 0px;
    margin-left: 0px;
}

div.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}

#btnTop 
{
    background-color: #0000f0;
    position: fixed;
    bottom:20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: none;
    justify-content: center;
    align-items: center;
}

#btnTop svg
{
    width: 30px;
    height: 30px;
    color: white;
}

.whatsapp{
    position:fixed;
    width:60px;
    height:60px;
    bottom:90px;
    right:20px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    display: none;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.my-float{
    margin-top:16px;
}      

#footer{
    background: navy none repeat scroll 0 0;
    clear: both;
    color: white;
    border-bottom-color: white;
}

#list_footer li a{
    text-decoration: none;
}

#footer_copy{
    background: navy none repeat scroll 0 0;
    clear: both;
    color: white;
    border-top-color: white;
}

footer{
    padding: 0px !important;
}

#btn_intro #col_btn_intro{
    top: 20px;
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
    width: 100%;
    height: 125px;
    background-color: navy;
}

#btn_intro #col_btn_intro:hover{
    background-color: white;
}

#col_btn_intro .fas{
    font-size: 50px;
    text-decoration: none;
    color: white;
    text-align: center;
}

#col_btn_intro .fas:hover{
    color: navy;
}

#icon_1{
    margin-top: 25px;
}

#col_btn_intro a{
    text-decoration: none;
    color: white;
}

#col_btn_intro a:hover{
    text-decoration: none;
    color: navy;
}

#photo_footer{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

#col1collapse{
    text-align: center;
    color: white;
}

.div_img img{
    align-items: center;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
}

.user a{
    text-decoration: none;
    padding: 5px;
    font-size: 12px;
    color: white;
}

.llista{
    text-align: center;
}

.llista ul li {
    list-style: none;
}


.llista ul li a{
    width: 100%;
    line-height: 30px;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
}

.llista ul li:hover{
    text-decoration: none;
    background-color: #0000f0;
}

#btn_intro #col_btn_intro{
    top: 20px;
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
    width: 100%;
    height: 125px;
    background-color: navy;
}

#btn_intro #col_btn_intro:hover{
    background-color: white;
}

#col_btn_intro .fas{
    font-size: 50px;
    text-decoration: none;
    color: white;
    text-align: center;
}

#col_btn_intro .fas:hover{
    color: navy;
}

#icon_1{
    margin-top: 25px;
}

#col_btn_intro a{
    text-decoration: none;
    color: white;
}

#col_btn_intro a:hover{
    text-decoration: none;
    color: navy;
}


.div-spacer 
{
    display: block;
    clear: both;
    height: 30px;
}

.titol_destacats
{
    border-bottom: 1px solid rgb(180, 180, 180); 
    line-height: 0.1em;
    margin: 0 auto;
}
.titol_destacats span
{
    padding: 0 10px;
    background-color: #f5f5dc;
    color: navy;
    font-family: roboto;
}

@media screen and (max-width: 768px)
{
    .titol_destacats span
    {
        line-height: 1.5!important;
        padding: 0!important;
        background-color: inherit;
    }
}

@media all and (min-width: 576px){
    .llista ul li{
        margin-left: 60px;
        margin-right: 60px;
    }
}


@media all and (max-width: 576px){
    #btn_intro #col_btn_intro{
    top: 20px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
    width: 100%;
    height: 125px;
    background-color: navy;
}
}

@media all and (max-width: 460px){
    .llista ul li{
        margin-left: 80px;
    }
    .div_img img{
        width: 85px;
        height: 85px;
    }

}

#title_destacats{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: navy;
}

#block_info{
    padding: 15px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    background-color: #ffffffc4;
    transition: transform .2s;
}

#block_info:hover {
    transform: scale(1.025);
}

#block_info a {
    text-decoration: none;
    color: black;
}

#img_info_destacats{
    width: 100%;
    height: 300px;
    border-radius: 3px;
}

a{
    text-decoration: none !important;
}

/*LOGIN*/

.recuadre {
    background-color: #ffffffc4;
    margin-top:4%;
    margin-bottom:4%;
    margin-left: auto;
    margin-right: auto;
}

#titollog{
    padding: 5%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.columna{
    height: 425px;
}

.btn-group{
    margin-left: auto;
    margin-right: auto;
}

.btn{
    background-color: #61D4EE;
    border: 3px;
}

.btn_log{
    color: white;
    background-color: navy;
    border: 3px;
    padding: 10px;
}

.btn:hover{
    background-color: #2CA1BC;
}

.btn_log:hover{
    background-color: white;
}


.formulari_registre{
    display: none;
}

.buit_registre{
    color: red;
    font-size: 12px;
    font-family: sans-serif;
}

#titol{
    margin-left: 20px;
}


#botocentrat{
    text-align: center;
    }

#titolregistre{
    padding: 5%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    }
    #titollog{
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }
    #subtitollog{
        top: -35px;
        text-align: center;
        margin: auto;
    }

#form_registre{
    text-align: center;
    margin: auto;
    text-align: center;
}
.recuadre{
    padding: 25px;
    background-color: #ffffffc4;
    margin-top:4%;
    margin-bottom:4%;
    }
.recuadre_allotjament{
    padding: 25px;
    background-color: #ffffffc4;
    margin-top:4%;
    margin-bottom:4%;
    }
    
    @media all and (max-width: 768px){
        #input_registre{
            text-align: center;
        }
        #subtitollog{
            top: -20px;
        }
}

/*MONUMENTS.PHP*/

#enllaç_img{
    width: 250px;
    height: 310px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
#imatges_turistiques{
    border: 5px solid #ffffffc4;
    height: 250px;
    width: 250px;
}

#text_img_turistiques{
    border: 5px solid #ffffffc4;
    width: 250px;
    height: 60px;
    background-color: #ffffffc4;
    text-align: center;
}

#text_img_turistiques a{
    text-decoration: none;
    color: navy;
}

#visites{
    display: flex;
    flex-wrap: wrap;
}